# Compiled class files
/bin/
/build/

# Gradle
.gradle
/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.jar
*.iml
.project
.classpath
.settings
.metadata
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.log
/out/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini